.gradient_bg {
    background: linear-gradient(-45deg, chocolate, #573c20, #231a10 );
    background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
	height: 100vh;
}

.gradient_bg:hover {
    -webkit-animation: gradient 15s ease infinite;
    animation: gradient 15s ease infinite;
 }

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 0px 50px;
}

.heroimage {
	display: block;
	margin: auto;
	border-radius: 20px;
	background-color: chocolate;
	border: 3px solid sandybrown;
}

.nav {
	display: inline-block;
	width: 520px;
	margin: auto;
	text-align: center;
}

.button {
	display: inline-block;
	padding: 0px 10px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
	color: sandybrown;
}